<div class="container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/img/world-cup.jpeg" id="icon" alt="User Icon" />
        <img
          src="../../assets/img/fifaworldcup.svg"
          id="icon"
          alt="User Icon"
        />
      </div>
      <form (ngSubmit)="onSignin(f)" #f="ngForm" class="form-horizontal">
        <span
          class="alert alert-danger margin-top-20 margin-bottom-20 help-block"
          *ngIf="error != ''"
        >
          <strong>{{ "These credentials do not match our records. " }}</strong>
        </span>

        <label for="username" class="" id="formrr">Username</label>
        <input
          type="username"
          id="username"
          name="username"
          ngModel
          class="form-control"
          placeholder="Type the username"
        />

        <label for="password" class="col-md-3 control-label text-align-left"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          placeholder="Type the password"
          class="form-control"
        />

        <button
          class="btn btn-raised btn-info margin-top-10 center-block"
          style="margin-top: 10px;"
          type="submit"
          [disabled]="!f.valid"
        >
          <i class="fa fa-btn fa-sign-in"></i> Login
        </button>
      </form>
    </div>
  </div>
</div>
