<div class="page-header">
    <h4>Add team</h4>
  </div>
  
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"  class="form">
  <div class="form-group">
    <label for="stadium">Team name</label>
    <input
      type="text"
      id="name"
      class="form-control input-sm"
      name="name"
      [(ngModel)]="team.name"
      required
    >
  </div>
  
  
  <div class="form-group">
    <label for="date">Wins</label>
    <input
      type="text"
      id="wins"
      class="form-control input-sm"
      name="wins"
      [(ngModel)]="team.wins"
          >
    </div>
  
  <div class="form-group">
    <label for="score">Draws</label>
    <input
      type="text"
      id="draws"
      class="form-control input-sm"
      name="draws"
      [(ngModel)]="team.draws"
          >
    </div>
  
      
    <div class="form-group">
      <label for="price">Loses</label>
      <input
        type="text"
        id="loses"
        class="form-control input-sm"
        name="loses"
        [(ngModel)]="team.loses"
            >
      </div>
  
  
      <input type="hidden" name="index" [(ngModel)]="index">
      <input type="hidden" name="id" [(ngModel)]="id">
  
    <div class="form-group">
      <button class="btn btn-primary margin-top-30 full-width-block" ><i class="fa fa-btn fa-floppy-o"></i>Add team</button>
  
    </div>
  
  
    
  </form> 

