<div class="page-header">
    <h4>Add game</h4>
  </div>
  
  <form (ngSubmit)="onSubmit(f)" #f="ngForm"  class="form">
  <div class="form-group">
    <label for="stadium">Game stadium</label>
    <input
      type="text"
      id="stadium"
      class="form-control input-sm"
      name="stadium"
      [(ngModel)]="game.stadium"
      required
    >
  </div>
  
  
  <div class="form-group">
    <label for="date">Date</label>
    <input
      type="text"
      id="date"
      class="form-control input-sm"
      name="date"
      [(ngModel)]="game.date"
          >
    </div>
  
  <div class="form-group">
    <label for="score">Score</label>
    <input
      type="text"
      id="score"
      class="form-control input-sm"
      name="score"
      [(ngModel)]="game.score"
          >
    </div>
  
    <div class="form-group">
      <label for="homeTeam" >Home Team</label>
        <select  type="text"  name="homeTeam" id="homeTeam" ngModel class="form-control input-sm" required >
          <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>
    </div>
      
    <div class="form-group">
      <label for="awayTeam" >Away Team</label>
        <select  type="text"  name="awayTeam" id="awayTeam" ngModel class="form-control input-sm" required >
          <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
        </select>
    </div>
      
  
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="text"
        id="price"
        class="form-control input-sm"
        name="price"
        [(ngModel)]="game.price"
            >
      </div>
  
  
      <input type="hidden" name="index" [(ngModel)]="index">
      <input type="hidden" name="id" [(ngModel)]="id">
  
    <div class="form-group">
      <button class="btn btn-primary margin-top-30 full-width-block" ><i class="fa fa-btn fa-floppy-o"></i>Add game</button>
  
    </div>
    
  </form>