<button (click)="onAdd()" class="btn btn-info">Add Game</button>
<table  class="table table-striped" id="table">
  <thead>
      <tr>
      <th>ID</th>
      <th>date</th>
      <th>stadium</th>
      <th>score </th>
      <th> price </th>
      </tr>
</thead>
<tbody>
  <tr *ngFor="let game of games; let i = index" >
    <td>{{game.id}}</td>
    <td>{{game.date}}</td>
    <td>{{game.stadium}}</td>
    <td>{{game.score}}</td>
    <td>{{game.price}}</td>

    <td> <button class="btn" (click)="onEdit(i,game.id)"  > Edit </button></td>
    <td> <button class="btn btn-danger" (click)="onDelete(i,game)">  Delete </button></td>
    <td> <button class="btn " (click)="onBook(game.id)">  Book </button></td>
  </tr>
</tbody>
</table>

<br> <br>